<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pendtium.grafikaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuUtama"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.materi.Materi1TabsActivity"
            android:label="Pengantar Grafika Komputer"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi1TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi2TabsActivity"
            android:label="Primitive Object"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi2TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi3TabsActivity"
            android:label="Objek 2 Dimensi"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi3TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi4TabsActivity"
            android:label="Transformasi"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi4TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi5TabsActivity"
            android:label="Interaksi"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi5TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi6TabsActivity"
            android:label="Objek 3 Dimensi"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi6TabsActivity">
        </activity>
        <activity
            android:name=".ui.video.Video1Activity"
            android:label="Pengenalan GLUT"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video1Activity">
        </activity>
        <activity
            android:name=".ui.video.Video2Activity"
            android:label="Primitive Objects dan Objek 2 Dimensi"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video2Activity">
        </activity>
        <activity
            android:name=".ui.video.Video3Activity"
            android:label="Transformasi dan Animasi Objek 2D"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video3Activity">
        </activity>
        <activity
            android:name=".ui.video.Video4Activity"
            android:label="Interaksi Keyboard"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video4Activity">
        </activity>
        <activity
            android:name=".ui.video.Video5Activity"
            android:label="Menggambar Objek 3D"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video5Activity">
        </activity>
        <activity
            android:name=".ui.video.Video6Activity"
            android:label="Implementasi Lighting pada Lorong 3D"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video6Activity">
        </activity>
        <activity
            android:name=".ui.video.Video7Activity"
            android:label="Texture Mapping pada Bangun 3D"
            android:theme="@style/MyMaterialTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:parentActivityName=".ui.video.Video7Activity">
        </activity>
        <activity
            android:name=".ui.PetunjukPenggunaan.PetunjukIntroActivity"
            android:theme="@style/Theme.Intro"/>
    </application>

</manifest>