<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pendtium.grafikaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuUtama"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.materi.Materi1TabsActivity"
            android:label="Pengantar Grafika Komputer"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi1TabsActivity">
        </activity>
        <activity
            android:name=".ui.materi.Materi2TabsActivity"
            android:label="Materi"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".ui.materi.Materi2TabsActivity">
        </activity>
        <activity
            android:name=".ui.PetunjukPenggunaan.PetunjukIntroActivity"
            android:theme="@style/Theme.Intro"/>
    </application>

</manifest>